{
    "extends": "loopback",
    "rules": {
        "indent": [
            "error",
            4
        ],
        "brace-style": [
            2,
            "stroustrup",
            {
                "allowSingleLine": true
            }
        ]
    }
}
